@tailwind preflight;
@tailwind utilities;

@media (max-width: 576px) {
  body {
    margin: 1% 10%;
  }
}

@media (min-width: 576px) {
  body {
    margin: 1% 14%;
  }
}

@media (min-width: 768px) {
  body {
    margin: 1% 16%;
  }
}

@media (min-width: 992px) {
  body {
    margin: 1% 18%;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 1% 20%;
  }
}
